[access]
	inheritFrom = OSS/ENM-Parent/SQ-Gate
[access "refs/*"]
	owner = group CI_Infrastructure_ENM_admin
	label-Vertical-Slice = -2..+2 group PM_guardians
        label-Vertical-Slice = -1..+1 group PM_guardians
	read = group Replication_Gamma_Migration_DO_NOT_REMOVE
[project]
	description = PM Parent Project used specifically for PM repos where submit for code review is blocked until the Vertical Slice label has +1
[label "Vertical-Slice"]
        function = MaxWithBlock
        value = -1 VS Cannot submit
        value =  0 No Score
        value = +1 VS Job Passed, can submit
        defaultValue = 0
[plugin "eiffel"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnames = false
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
